.Controls {
  width: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.Controls > * {
  width: 100%;
  margin: 0.25rem;
}

.Size {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Number {
  width: 20%;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;

  outline: none;
}

.Number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Range {
  width: 80%;
}

.SizeGrid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 5px;
}

.DefaultSizes {
  width: 2.5rem;
  height: 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  border: 1px solid black;
  border-radius: 5px;
}

.DefaultSizes:hover {
  cursor: pointer;
}

.DefaultSizes > div {
  max-width: 10px;
  max-height: 10px;
  background: black;
  border-radius: 50%;
}

.DefaultSizes > h1 {
  font-size: 12px;
  position: absolute;
  bottom: 0px;
}

.ColorGrid {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Color {
  width: 48.5%;
  border: none;
  background: none;

  margin-top: 0rem;
  padding: 0rem;
}

.History {
  width: 100%;
  display: flex;
  justify-content: center;
}

.History > * {
  width: 45%;
  margin: auto;
}

.ToolGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 5px;

  margin-bottom: 0.5rem;
}

.Tool {
  width: 4rem;
  height: 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  border: 1px solid black;
  border-radius: 5px;
}

.Tool > img {
  width: 40%;
}

.Tool:hover {
  cursor: pointer;
}

.BigButton {
  width: 95%;
}
