.Gallery {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 0.5rem;
  margin-bottom: 1rem;

  overflow-y: scroll;
}

.ScrollToTop {
  width: 3rem;
  height: 3rem;

  position: fixed;
  bottom: 2%;
  right: 3%;
}

.CommandGrid {
  display: flex;
  justify-content: center;

  margin-bottom: 0.5rem;
}

.CommandOption {
  width: 5rem;
  height: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  border: 1px solid black;
  border-radius: 20px;

  margin-left: 0.25rem;
  margin-right: 0.25rem;

  background: white;

  font-family: "Itim", cursive;
  font-size: 14px;
}

.ChangeDate {
  width: 4rem;
  height: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  border: 1px solid black;

  margin-left: 0.25rem;
  margin-right: 0.25rem;

  background: white;

  font-family: "Itim", cursive;
  font-size: 14px;
}

.ChangeDate:active {
  background: rgb(190, 190, 190);
}

.DrawingGrid {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;

  gap: 5px;
}
