.Canvas {
  display: flex;
}

.Whiteboard {
  position: relative;
  overflow: hidden;

  border: 1px solid black;
  border-radius: 5px;

  touch-action: none;
}

.Whiteboard:hover {
  cursor: none;
}

.Paintbrush {
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  border: 1px solid black;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.Bucket {
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  font-size: 32px;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}
